.starter-template{
    margin-top: 100px;

}
body{
    background-color:rgb(217, 226, 255);

}
.main{
    background-color:rgb(227, 234, 255);
}

.row3,.row6{
    border-top:2px solid blue;
    
    
}
.row{
    max-width: 600px;
    justify-content: center;
    text-align: center;
}
.column2,.column5{
    border-right:2px solid blue;
}

.box-row{
    min-width: 450px;
    max-width:600px
}
.col-1{
    max-width: 50px;
    height: 50px;
    padding: 0;
    min-width: 50px;
    max-height: 50px;
    font-size: 30px;
    background-color: white;
    text-align: center;
    margin: 1px;
    color: black;
}

.starter-template,.main{
    min-width: 480px;
}